:root {
  --color-bg-page: #ffffff;      /* фон сайту, великі секції */
  --color-bg-block: #f5f5f5;     /* фон блоків, карток, модалок */
  --color-border: #e2e2e2;
  --color-text: #ff3e3e;
  --color-text-light: #fcfcfc;
  --color-accent: #926b6a;
  --color-accent-hover: #c0ba805b;
  --color-light: #000000;
}
