@tailwind base;
@tailwind components;
@tailwind utilities;

/* Темна хакі-тема */
:root {
  --accent: #9CA37A;
  --background: #0F0F0A;
  --surface: #1B1B14;
  --text: #EAEAD9;
}

.bg-background { background-color: var(--background); }
.bg-surface { background-color: var(--surface); }
.text-text { color: var(--text); }
.text-accent { color: var(--accent); }
.border-surface { border-color: var(--surface); }
.accent-accent { accent-color: var(--accent); }

body {
  background-color: #f8f9fb;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

button:active {
  transform: scale(0.98);
}
